<html>
<head>
<link rel="stylesheet" href="./css/style.css">

<style>
p {
  font-family: verdana;
  font-size: 20px;


<style>
  body {
  background-color: lightblue;
}
p {
  color: red;
  text-align: center;
} 
</style>
</head>
</body>
  <h1>Title Page</h1>
<p>Start writing here</p>
<body> 
  
</html>